/*  your css code here. If applicable */
#container{
	margin:20px;
}

#container::before{
	content:"Before Element";
	color:#f00;
	font-size:20px;
}


#container::after{
	content:"After Element";
	color:#f00;
	font-size:20px;
}
    <script type